<html>
	<head>
		<title>Music from Weather Around the World</title>
		<script src='https://polyfill.io/v3/polyfill.min.js?features=default'></script>
		<link href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet'>
		<style>
			input[type="text"] {
				border: 1px solid transparent;
				outline: none;
				padding: 5px;
				border-radius: 3px;
				background-color: #fff;
			}
			button {
				margin: 10px;
			}
			hr.soft-line {
				border: none;
				border-top: 1px dashed #000;
				margin: 10px 0;
			}
			table {
				border-collapse: collapse;
			}

			td {
				border: 1px solid transparent;
				padding: 10px;
				text-align: center;
			}
			
			.slider-container {
				display: flex;
				align-items: center;
			}

			.slider-label {
				margin-right: 10px;
			}

			body {
				font-family: 'Roboto', sans-serif;
				margin: 5%;
				padding: 0;
			}

			.container {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-top: 20px;
			}

			.input-box {
				margin-bottom: 10px;
			}

			#map {
				height: 500px;
				width: 100%;
				margin-top: 20px;
			}

			th {
				font-size: 24pt;
			}

			.play-button {
				width: 100%;
				height: 100%;
				padding: 10px;
				font-size: 16pt;
			}
		</style>
	</head>
	<body>
		<!-- add spacer -->
		<div style="margin-top: 20px;"></div>
		<h1>&#x1F5F3;&#xFE0F;Democratic Music&#x1F5F3;&#xFE0F;</h1>
		<hr class="soft-line">
		<table>
			<tr>
				<th>Note 1:</th>
				<td><button id="play-button-1" class="play-button">Play</button></td>
				<td>
					<div class="slider-container">
						<label for="note-length-1" class="slider-label">Note Length:</label>
						<input type="range" id="note-length-1" class="slider" min="0" max="100">
					</div>
					<div class="slider-container">
						<label for="panning-1" class="slider-label">Panning:</label>
						<input type="range" id="panning-1" class="slider" min="-100" max="100">
					</div>
				</td>
			</tr>
			<tr>
				<th>Note 2:</th>
				<td><button id="play-button-2" class="play-button">Play</button></td>
				<td>
					<div class="slider-container">
						<label for="note-length-2" class="slider-label">Note Length:</label>
						<input type="range" id="note-length-2" class="slider" min="0" max="100">
					</div>
					<div class="slider-container">
						<label for="panning-2" class="slider-label">Panning:</label>
						<input type="range" id="panning-2" class="slider" min="-100" max="100">
					</div>
				</td>
			</tr>
		</table>
		<hr class="soft-line">
		<table>
			<tr>
				<th>Vote:</th>
				<td>
					<div class="slider-container">
						<label for="BPM" class="slider-label">BPM:</label>
						<input type="range" id="BPM" class="slider-label" min="10" max="300">
						<p>-BPM is the average of each user's vote</p>
					</div>
					<div class="slider-container">
						<button class="vote-button" id="vote">Vote For New Harmony</button>
						<p>-When the majority vote for a new harmony, Note 1 and Note 2 will be changed to fit into a new harmony</p>
					</div>
				</td>
			</tr>
		</table>
		<!-- <hr class="soft-line"> -->
		<!-- <table>
			<tr>
				<th>Settings:</th>
				<td>
					<div class="slider-container">
						<label for="port-input" class="slider-label">Port:</label>
						<input type='text' id='port-input' value='9000'>
					</div>
					<div class="slider-container">
						<label for="ip-input" class="slider-label">IP:</label>
						<input type='text' id='ip-input'>
					</div>
				</td>
			</tr>
		</table> -->
	</body>
	
	<script>
		var user_number = 0;
		
		fetch("/new_player")
			.then(response => response.text())
			.then(data => {
				const result = parseInt(data);
				if (!isNaN(result)) {
					user_number = result;
				} else {
				console.error("Invalid response:", data);
				}
			})
			.catch(error => {
				console.error("Error:", error);
			});
			
		var url = window.location.href;
		// console.log(url); // Output: the current URL
		
		function sendApiCall() {
			console.log("Player index:", user_number);

			// Code to send API call goes here
			console.log("API call sent at", new Date().toLocaleTimeString());
			// Make a POST request to the Flask endpoint "/process_data"
			fetch("/ping", {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({ user_number: user_number }) // Send only the player number
			})
			.then(response => {
			// Handle the response from the server here
			})
			.catch(error => {
			console.error(error);
			});
			// Schedule the next API call after 20 seconds
			setTimeout(sendApiCall, 10000);
		}

		// Call the function initially to start the cycle
		sendApiCall();
		
		// document.addEventListener("DOMContentLoaded", async () => {
		// 	await startupAPICall();
		// });
		
		// async function startupAPICall() {
		// 	const ip = getIP();
		// 	const port = getPort();
		// 	const url = `http://${ip}:${port}/startup`;
		// 	const response = await fetch(url);
		// 	const data = await response.json();
		// 	console.log(data);
		// }
		
		[document.getElementById("play-button-1"), document.getElementById("play-button-2")]
			.forEach(function(button, index) {
				button.addEventListener("click", function() {
					var noteInput = document.getElementById("note-length-"+(index+1)).value;
  					var panning = document.getElementById("panning-"+(index+1)).value;
					const data = { 
						note_length: noteInput,
						panning_value: panning,
						user_number: user_number,
						note_number: index
					};	

					// Make a POST request to the Flask endpoint "/process_data"
					fetch("/playNote", {
					method: "POST",
					headers: {
						"Content-Type": "application/json"
					},
					body: JSON.stringify(data)
					})
					.then(response => {
					// Handle the response from the server here
					})
					.catch(error => {
						console.error(error);
					});
				});
			});
			
		document.getElementById("BPM").addEventListener("change", function() {
			var BPM = document.getElementById("BPM").value;
			console.log(BPM);
			const data = { 
				BPM: BPM,
				user_number: user_number
			};	

			// Make a POST request to the Flask endpoint "/process_data"
			fetch("/BPM", {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify(data)
			})
			.then(response => {
			// Handle the response from the server here
			})
			.catch(error => {
				console.error(error);
			});
		});
		
		document.getElementById("vote").addEventListener("click", function() {
			console.log("Vote");
			fetch("/vote", {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({ user_number: user_number }) // Send only the player number
			})
			.then(response => {
			// Handle the response from the server here
			})
			.catch(error => {
			console.error(error);
			});
		});
		
		// const getIP = () => document.getElementById("ip-input").value;
		// const getPort = () => document.getElementById("port-input").value;
		

	</script>
</html>
